# Force GitHub to detect Dart
*.dart linguist-detectable=true

# Ignore CMake files
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false

# Also ignore C++ files if needed
*.cpp linguist-detectable=false
*.h linguist-detectable=false
